body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
  }
  
  .thankyou-container {
    text-align: center;
    padding: 50px;
    background-color: #fff;
    margin: 100px auto;
    width: 60%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  h1 {
    color: #d41b27;
    font-size: 36px;
  }
  
  p {
    font-size: 18px;
    color: #333;
  }
  
  .home-btn {
    display: inline-block;
    background-color: #d41b27;
    color: #fff;
    padding: 12px 20px;
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  .home-btn:hover {
    background-color:rgb(230, 239, 232);
  }
  